# vi:syntax=yaml

configuration:
    # this is the path where the temporary files will be written by the agent
    # so that supervisord can pick them up. this includes the scheduling
    # and monitoring information as well as the supervisor configurations so
    # it should probably be a dedicated directory.
    path: /run/supervisor

# it is assumed that you are not connecting with SSL or anything fancy. there
# are a few custom options defined in database.py that you should change if you
# have special configurations for talking to cassandra. this is just a basic
# list of seed nodes and a username/password.
cassandra:
    username: dart
    password: xxxx
    addresses":
        # a list of ip addresses or hostnames to connect to
        - 127.0.0.1

# any url that is supported by kombu is accepted in this array. they will be
# joined together using a semicolon and passed to kombu.
rabbitmq:
    urls:
        # a list of amqp servers to connect to (amqps is preferred)
        - amqp://dart:xxxx@127.0.0.1:5671/dart
