amqp==2.3.2
cassandra-driver==3.14.0
click==6.7
crontab==0.22.2
eventlet==0.23.0
Flask==1.0.2
Flask-Moment==0.6.0
greenlet==0.4.13
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
pytz==2018.5
PyYAML==3.13
six==1.11.0
vine==1.1.4
Werkzeug==0.14.1
